<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title === 'Victor'">
  Mostrara el Div
</div>

<div *ngIf="title === 'Camilo'">
  Mostrara el Div Camilo
</div>

<div *ngIf="title === 'Luis'">
  Mostrara el Div Luis
</div>

<div *ngIf="title === 'Ramon'">
  Mostrara el Div Ramon
</div>

<div [ngSwitch]="title">
<p *ngSwitchCase="'Camilo'">Mostrara el Div Camilo</p>
<p *ngSwitchCase="'Luis'">Mostrara el Div Luis</p>
<p *ngSwitchCase="'Ramon'">Mostrara el Div Ramon</p>
<p *ngSwitchDefault>No se encuentra el Valor</p>
</div>

<ul>
  <li *ngFor="let item of items;index as i">
    {{item}} ({{i}})
  </li>
</ul>

<div class="row">
</div>
<button (click)="addSueldo()">Agregar</button>
<br>
<br>
<table border="1">
  <tr>
    <td *ngIf="sueldos.length === 0">Estado Lista VACIA</td>
    <td *ngIf="sueldos.length !== 0">#</td>
    <td *ngIf="sueldos.length !== 0">Sueldos</td>
    <td *ngIf="sueldos.length !== 0">Edición</td>
  </tr>

  <tr *ngFor="let sueldo of sueldos;index as i">
    <td *ngIf="sueldos.length !== 0">{{i}}</td>
    <td *ngIf="sueldos.length !== 0">{{sueldo}}</td>
    <button *ngIf="sueldos.length !== 0" (click)="delSueldo(i)">Eliminar</button>
  </tr>
</table>

<ul>
  <li *ngFor="let item of sueldos;index as i">
    {{item}} ({{i}})
    <button (click)="delSueldo(i)">Eliminar</button>
  </li>
</ul>

<div *ngFor="let product of products">
{{product.title}}
{{product.price}}
<img [src]="product.image" alt="">
</div>

